#chatbotCard {
    margin: 20px;
    background-color: #2c3e50;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

#chatbotCard2 {
    background-color: #2c3e50;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    margin: 20px 20px;
}

#chatBotInit {
    margin-left: 0;
    margin-right: auto;
    border: 2px solid #6195CB;
    padding: 6px 10px;
    border-radius: 10px;
}

.chatbotQuery {
    margin-left: auto;
    margin-right: 0;
    border: 2px solid #6195CB;
    padding: 6px 10px;
    border-radius: 10px;
}

.chatbotResponse {
    margin-left: 0;
    margin-right: auto;
    border: 2px solid #6195CB;
    padding: 6px 10px;
    border-radius: 10px;
}