#uploadResultsCard {
    background-color: #2c3e50;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 20px 20px;
}
#uploadResults{
    display: flex;
    padding: 10px;
}
#imageStorageCard {
    background-color: #2c3e50;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px 20px;
}

#imagesDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.imageDiv {
    margin: 0;
    padding: 0;
    width: 120px;
    display: flex;
    flex-direction: column;
}

.imageDiv > button {
    width: 100%;
    margin-top: 0px;
    border-radius: 0;
    height: fit-content;
    padding: 4px;
    z-index: 1;
    font-weight: bold;
    background-color: #6195CB;
    border-radius: 0 0 10px 10px;
}
#file{
    padding-left: 0;
}
.custom-file-upload {
    font-size: 13px;
    width: 9%;
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #6195CB;
    color: white;
    border-radius: 5px; /* Rounded corners */
    border: 1px solid transparent; /* Optional: adds a border */
    transition: all 0.3s ease-in-out;
}
.custom-file-upload:hover{
    background-color: rgb(67, 104, 142);
}
.disclaimer{
    text-align: center;
    font-style: italic;
    padding-top: 15px;
    font-size: 13px;
}
.upload-detail{
    font-size: 13px;
    font-style: italic;
    padding-left: 5px;
}
.upload-btn{
    display: flex;
    align-items: baseline;
}
.previous-uploads{
    padding-top: 5px;
    margin-top: 5px;
}
.upload-title{
    padding-bottom: 15px;
}
#data{
    padding-top: 8px;
}